<!doctype html>
<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="../src/directives/highcharts-ng.js"></script>
    <script src="../src/app.js"></script>
</head>
<body>
<h2>Highcharts-ng example</h2>

<div ng-app="myapp">
    <div ng-controller="myctrl">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">Title <input ng-model="chartConfig.title.text"></div>
                <div class="row-fluid">Subtitle <input ng-model="chartConfig.subtitle.text"></div>
                <div class="row-fluid">Type <select ng-model="chartConfig.options.chart.type" ng-options="t.id as t.title for t in chartTypes"></select></div>
                <div class="row-fluid"><label for="checkLoading"><input id="checkLoading" type="checkbox" ng-model="chartConfig.loading"> is loading</label></div>
                <div class="row-fluid"><button>Add data</button></div>
                <div class="row-fluid" ng-repeat="ser in chartSeries">
                    <hr />
                    <div class="row-fluid">Title <input ng-model="ser.name"></div>
                    <div class="row-fluid"><label><input type="checkbox" ng-model="ser.connectNulls"> interpolate</label></div>
                </div>
                <hr />
                <button ng-click="addSeries()">Add Series</button>
                <button ng-click="addPoints()">Add Points to Random Series</button>
                <button ng-click="removeRandomSeries()">Remove Random Series</button>
                <button ng-click="toggleHighCharts()">HighChart/HighStock</button>
                Min: <input type="number" ng-model="chartConfig.xAxis.currentMin">
                Max: <input type="number" ng-model="chartConfig.xAxis.currentMax">
            </div>
        </div>
    </div>
</div>

</body>
</html>